# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*n8_Game.xcodeproj
*n8_Game.xcscheme
*UserInterfaceState.xcuserstate
*project.pbxproj

.DS_Store

n8_Game.xcodeproj/project.pbxproj

n8_Game/.DS_Store

xcuserdata

n8_Game/DerivedData/

n8_Game/Build/Intermediates/