# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*n8.xcodeproj
*n8.xcscheme
*UserInterfaceState.xcuserstate
*project.pbxproj

.DS_Store

.DS_Store

n8.xcodeproj/project.pbxproj

n8/.DS_Store
