n8 Game Framework Requirements Document

Nate Ebel, 2014

Objective:
	Create a flexible framework with which to create computer games.

Requirements:
	Should be general and flexible enough to create a variety of games such as Connect 4 or a top-down rig such as Pokemon.

	Should utilize SDL for graphics, input, audio

	Should run on any *ix platform
	
	Game data such as levels, entities, items, and configuration info such be modifiable through data files  

	Should include a configurable, skinnable GUI



	


